table {
    background-color: #3A4965;
    padding: 24px;
    text-align: center;
}

.bandwidth, .support, .users {
    background-color: #E3E3E3;
}
.storages, .emails, .products {
background-color: #F2F2F2;
}

.choose-plan {
    padding-top: 50px;
    padding-bottom: 48px;
    width: 300px;
    background-color: #FAFAFA;
}
.prices {
    background-color: #FAFAFA;
}

.choose-plan-text {
    display: flex;
flex-direction: column;
}
.choose {
    color: #484848;
    font-size: 18px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
}
/* .price {
    padding-top: 20px;
} */
.pricing {
    color: #484848;
    font-size: 30px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
}
.green {
background-color: #89C331;
color: white;
font-size: 24px;
font-family: Arimo;
font-weight: 700;
text-transform: uppercase;
line-height: 28px;
width: 284px;
padding-top: 10px;
}
.red {
    background-color: #F04A56;
    color: white;
    font-size: 30px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    width: 284px;
    padding-top: 5px;
}
.cyan {
    background-color: #20807C;
    width: 284px;
    color: white;
    font-size: 24px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    padding-top: 10px;
}
.dolar {
    color: #484848;
    font-size: 60px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    position: relative;
    display: flex;
    padding-left: 30px;
}
.cents {
    color: #484848;
    font-size: 24px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    position: absolute;
    top: -25px;
    left: 130px;
}
.month {
    color: #484848;
    font-size: 18px;
    font-family: Arimo;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px;
    left: 130px;
}
.row-class {
    color: #484848;
    font-size: 16px;
    font-family: Arimo;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
}
.first-table-icon {
    margin-right: 4px;
}
.row-class-info {
    color: #484848;
    font-size: 16px;
    font-family: Arimo;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px;
}
.contact-us, .buy-green, .buy-red, .buy-cyan{
    color: white;
    font-size: 16px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
}
.contact-us {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    background-color: #484848;
    width: 195px;
    border-radius: 8px;
    border-bottom: 10px solid #404040;
    border-top: none;
    border-left: none;
    border-right: none;
}
.buy-green {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    background-color: #89C331;
    border-radius: 8px;
    border-bottom: 10px solid #79B027;
    width: 193px;
    border-top: none;
        border-left: none;
        border-right: none;
}
.buy-red {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    background-color: #F04A56;
    border-radius: 8px;
    border-bottom: 10px solid #DF3A46;
    width: 193px;
    border-top: none;
        border-left: none;
        border-right: none;
}
.buy-cyan {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    background-color: #20807C;
    border-radius: 8px;
    border-bottom: 10px solid #16736F;
    width: 193px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.bottom-button {
    background-color: #DDD;
    padding: 30px 60px;
}
.price {
    width: 213px;
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-style {
    position: relative;
    color: #484848;
    font-family: Arimo;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 46.667% */
    text-transform: uppercase;
}

.cent {
    position: absolute;
    top: -25px;
    color: #484848;
    text-align: center;
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 116.667% */
    text-transform: uppercase;
}

.month {
    width: 136px;
    position: absolute;
    color: #484848;
    font-family: Arimo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    text-transform: uppercase;
    left: 90px;
}
.price-row {
 background-color:#FAFAFA;
}

.second-table-choose {
    background-color: #FAFAFA;
    padding: 25px;
}
.second-table-storage, .second-table-email, .second-table-products {
    background-color: #E3E3E3;
}
.second-table-bandwidth, .second-table-support, .second-table-users {
    background-color: #F2F2F2;
}
.second-table-storage,
.second-table-email,
.second-table-products,.second-table-bandwidth,
.second-table-support,
.second-table-users {
padding-top: 26px;
padding-bottom: 18px;
}
.second-table-storage,
.second-table-email,
.second-table-products,
.second-table-bandwidth,
.second-table-support,
.second-table-users, .second-pricing {
color: #484848;
font-size: 20px;
font-family: Arimo;
font-weight: 700;
text-transform: uppercase;
}
.second-pricing {
    width: 144px;
}
.second-choose {
    color: #484848;
        font-size: 14px;
        font-family: Arimo;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 28px;
}
.second-table-menu {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
}
.second-table-icon {
    margin-bottom: 10px;
}
.grid-container {
    width: 1140px;
    display: grid;
    /* grid-template-columns: repeat(7, 1fr); */
    grid-template-rows: repeat(4, 0fr);
}
.grid-container.thead {
    margin-bottom: 10px;
}
.grid-columns {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 1140px;
    border-bottom: 1px solid #c0c1de;
}
.second-td-grey {
    background-color: #E3E3E3;
}
.second-td-white {
    background-color: #F2F2F2;
}
.second-td-grey, .second-td-white {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
    font-size: 16px;
    font-family: Arimo;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
}
.second-table-green {
    background-color: #89C331;
    padding: 24px;
}
.second-table-red {
    background-color: #F04A56;
    padding: 24px;
}
.second-table-cyan {
    background-color: #20807C;
    padding: 24px;
}
.text-standard {
    color: white;
    font-size: 24px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    width: 100%;
}
.second-price {
    color: white;
    font-size: 36px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    position: relative;
}
.second-cent {
    color: white;
    font-size: 18px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    position: absolute;
    top: -10px;
}
.second-month {
    color: white;
    font-size: 14px;
    font-family: Arimo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    position: absolute;
    width: 84px;
    left: 66px;
    top: -1px;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.price-container {
    display: flex;
    padding-top: 4px;
}
.second-buy-now {
        color: white;
        font-size: 16px;
        font-family: Arimo;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 28px;
        padding-top: 4px;
        background-color: #484848;
        width: 147px;
        border-radius: 6px;
        border-bottom: 5px solid #404040;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-top: 12px;
}
.chup {
    width: 100px;
}